:root {
  --rolexBorder-color: #006039;
  --stockBoxBorder-color: #7f0046;
  --wosBorder-color: #cba66f;
}

.stockbox-color {
  color: #7f0046;
}

.stockboxActiveColor .activeNav a {
  color: #7f0046 !important;
}

.rolex-color {
  color: #006039;
}

.rolexActiveColor .activeNav a {
  color: #006039 !important;
}

.wos-color {
  color: #7f4c00;
}

.wosActiveColor .activeNav a {
  color: #7f4c00 !important;
}

@font-face {
  font-family: "heroNew";
  src: url("../fonts/HeroNew-Regular.woff");
}
@font-face {
  font-family: "heroNewBold";
  src: url("../fonts/HeroNew-Bold.woff");
}
body {
  padding: 0;
  margin: 0;
  font-family: "heroNew", sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;
}

.logoHolder {
  padding-top: 99px;
  text-align: center;
  margin-bottom: 123px;
}

.logoHolderPackage {
  padding-top: 99px;
  text-align: center;
  margin-bottom: 123px;
}

.boxes {
  margin-bottom: 112px;
}
.boxes .wrapper h1 {
  text-align: center;
  font-size: 20px;
  line-height: 27.98px;
  font-weight: 400;
  margin-bottom: 65px;
}
.boxes .wrapper .boxHolder {
  display: flex;
  gap: 26px;
  justify-content: center;
}
.boxes .wrapper .boxHolder .box {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #7f0046;
  border-radius: 6px;
  width: 310px;
  height: 170px;
  padding: 23px 19px 13px 19px;
}
.boxes .wrapper .boxHolder .box p:nth-child(1) {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
}
.boxes .wrapper .boxHolder .box p:nth-child(2) {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.38px;
}
.boxes .wrapper .boxHolder .box div {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #507be9;
  border-radius: 6px 0px;
  width: 128px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes .wrapper .boxHolder .box div p {
  color: #ffffff !important;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.boxes .wrapper .boxHolder .box:hover {
  background-color: #7f0046;
  transition: all 0.25s ease-in;
}
.boxes .wrapper .boxHolder .box:hover p {
  color: #ffffff;
}
.boxes .wrapper .boxHolder .selectedBox {
  background-color: #7f0046;
  transition: all 0.25s ease-in;
}
.boxes .wrapper .boxHolder .selectedBox p {
  color: #ffffff !important;
}

.progressBars .wrapper .progressHolder {
  width: 478px;
  margin: auto;
}
.progressBars .wrapper .progressHolder p {
  text-align: center;
  color: #507be9;
  padding-bottom: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.progressBars .wrapper .progressHolder .bars {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 41px;
}
.progressBars .wrapper .progressHolder .bars .activeProgress {
  background: #507be9;
}
.progressBars .wrapper .progressHolder .bars div {
  width: 113px;
  height: 15px;
  background: #f4f4f4;
  border-radius: 6px;
}
.progressBars .wrapper a {
  float: right;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.leftDecoration {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.topDec {
  position: absolute;
  top: 0px;
  right: 0px;
}

.logoHolder1 {
  padding-top: 99px;
  text-align: center;
  margin-bottom: 115px;
}

.formSignUp1 .wrapper .formHolder1 {
  width: 482px;
  margin: auto;
}
.formSignUp1 .wrapper .formHolder1 h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 27px;
}
.formSignUp1 .wrapper .formHolder1 label {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.formSignUp1 .wrapper .formHolder1 input[type=text] {
  width: 479px;
  height: 65px;
  border: 1px solid #7f0046;
  border-radius: 6px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 39px;
  margin-top: 18px;
}
.formSignUp1 .wrapper .formHolder1 select {
  width: 479px;
  height: 65px;
  border: 1px solid #7f0046;
  border-radius: 6px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding-left: 37px;
  margin-bottom: 39px;
  margin-top: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../img/selectArrow.png");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;
}
.formSignUp1 .wrapper .formHolder1 select:focus {
  outline: none;
}
.formSignUp1 .wrapper .formHolder1 .radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}
.formSignUp1 .wrapper .formHolder1 .radio-group .radio {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  margin-bottom: 18px;
}
.formSignUp1 .wrapper .formHolder1 .radio-group .radio p {
  height: 31px;
  display: flex;
  align-items: center;
}
.formSignUp1 .wrapper .formHolder1 .radio-group .radio input[type=radio] {
  display: none;
}
.formSignUp1 .wrapper .formHolder1 .radio-group .radio span {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  border: 1px solid #7f0046;
  display: block;
  position: absolute;
  left: 0px;
  top: 2px;
}
.formSignUp1 .wrapper .formHolder1 .radio-group .radio span::after {
  content: "";
  height: 22px;
  width: 22px;
  background: #7f0046;
  display: block;
  position: absolute;
  left: 52%;
  top: 48%;
  transform: translate(-52%, -48%) scale(0);
  border-radius: 50%;
  transition: 250ms ease-in-out 0s;
}
.formSignUp1 .wrapper .formHolder1 .radio-group .radio input[type=radio]:checked ~ span:after {
  transform: translate(-52%, -48%) scale(1);
}

.logoHolder2 {
  padding-top: 99px;
  text-align: center;
  margin-bottom: 61px;
}

.formSignUp2 .wrapper .formHolder2 {
  width: 482px;
  margin: auto;
}
.formSignUp2 .wrapper .formHolder2 label {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.formSignUp2 .wrapper .formHolder2 input[type=text] {
  width: 479px;
  height: 65px;
  border: 1px solid #7f0046;
  border-radius: 6px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding-left: 10px;
  margin-top: 18px;
  margin-bottom: 39px;
}
.formSignUp2 .wrapper .formHolder2 input[type=email] {
  width: 479px;
  height: 65px;
  border: 1px solid #7f0046;
  border-radius: 6px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding-left: 10px;
  margin-top: 18px;
  margin-bottom: 39px;
}
.formSignUp2 .wrapper .formHolder2 .passwordBox {
  position: relative;
  margin-bottom: 51px;
}
.formSignUp2 .wrapper .formHolder2 .passwordBox input[type=password] {
  width: 479px;
  height: 65px;
  border: 1px solid #7f0046;
  border-radius: 6px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 18px;
  padding-left: 10px;
}
.formSignUp2 .wrapper .formHolder2 .passwordBox img {
  position: absolute;
  top: 35px;
  right: 17px;
  cursor: pointer;
}
.formSignUp2 .wrapper .formHolder2 h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 27px;
}
.formSignUp2 .wrapper .formHolder2 .containerBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 51px;
}
.formSignUp2 .wrapper .formHolder2 .containerBox .checkbox {
  position: relative;
  display: block;
}
.formSignUp2 .wrapper .formHolder2 .containerBox .checkbox label {
  min-height: 20px;
  font-weight: normal;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.formSignUp2 .wrapper .formHolder2 .containerBox .checkbox label:first-child {
  margin-bottom: 18px;
}
.formSignUp2 .wrapper .formHolder2 .containerBox .checkbox label input[type=checkbox] {
  position: absolute;
  margin: 0px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 1px solid #7f0046 !important;
  border-radius: 6px;
  width: 29px;
  height: 29px;
  outline-offset: 0px !important;
  border: 1px solid transparent;
  transform: translate3d(0);
  transition: all 0.25s ease-in-out;
}
.formSignUp2 .wrapper .formHolder2 .containerBox .checkbox label input[type=checkbox]:checked {
  box-shadow: 0 0 0 20px #7f0046 inset;
}
.formSignUp2 .wrapper .formHolder2 .containerBox .checkbox label p {
  padding-left: 50px;
}

.logoHolder3 {
  padding-top: 99px;
  text-align: center;
  margin-bottom: 117px;
}

.formSignUp3 .wrapper .formSignUp3Box {
  width: 560px;
  margin: auto;
}
.formSignUp3 .wrapper .formSignUp3Box h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 27px;
  text-align: left;
}
.formSignUp3 .wrapper .formSignUp3Box .sliderHolder {
  display: flex;
  gap: 23px;
  justify-content: center;
  margin-bottom: 62px;
}
.formSignUp3 .wrapper .formSignUp3Box .sliderHolder .sliderBox .sliderContent {
  border: 1px solid #7f0046;
  border-radius: 6px;
  width: 170px;
  height: 163px;
  text-align: center;
  padding-top: 34px;
  position: relative;
  transition: all 0.25s ease-in;
}
.formSignUp3 .wrapper .formSignUp3Box .sliderHolder .sliderBox .sliderContent img {
  margin-bottom: 14px;
}
.formSignUp3 .wrapper .formSignUp3Box .sliderHolder .sliderBox .sliderContent p {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  left: 14px;
  bottom: 4px;
}
.formSignUp3 .wrapper .formSignUp3Box .sliderHolder .sliderBox .sliderContent:hover {
  transform: scale(1.1);
}
.formSignUp3 .wrapper .formSignUp3Box .sliderHolder .selectedSlider {
  box-shadow: 0px 2px 5px 5px rgba(127, 0, 70, 0.75);
  -webkit-box-shadow: 0px 2px 5px 5px rgba(127, 0, 70, 0.75);
  -moz-box-shadow: 0px 2px 5px 5px rgba(127, 0, 70, 0.75);
}
.formSignUp3 .wrapper .formSignUp3Box h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 16px;
}
.formSignUp3 .wrapper .formSignUp3Box label {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.formSignUp3 .wrapper .formSignUp3Box .containerBox2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
}
.formSignUp3 .wrapper .formSignUp3Box .containerBox2 .checkbox2 {
  position: relative;
  display: block;
}
.formSignUp3 .wrapper .formSignUp3Box .containerBox2 .checkbox2 label {
  min-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;
}
.formSignUp3 .wrapper .formSignUp3Box .containerBox2 .checkbox2 label input[type=checkbox] {
  position: absolute;
  margin: 0px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 1px solid #7f0046 !important;
  border-radius: 6px;
  width: 29px;
  height: 29px;
  outline-offset: 0px !important;
  border: 1px solid transparent;
  transform: translate3d(0);
  transition: all 0.25s ease-in-out;
}
.formSignUp3 .wrapper .formSignUp3Box .containerBox2 .checkbox2 label input[type=checkbox]:checked {
  box-shadow: 0 0 0 20px #7f0046 inset;
}
.formSignUp3 .wrapper .formSignUp3Box .containerBox2 .checkbox2 label p {
  padding-left: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.formSignUp3 .wrapper .formSignUp3Box input[type=text] {
  margin-bottom: 34px;
  display: block;
  width: 310px;
  height: 65px;
  border: 1px solid #7f0046;
  border-radius: 6px;
  padding-left: 27px;
  color: #000000;
  opacity: 0.3;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

#bars3 {
  margin-bottom: 55px;
}

#domainName {
  visibility: hidden;
  transition: all 0.25s ease-in;
}

.logoHolder4 {
  padding-top: 99px;
  text-align: center;
  margin-bottom: 117px;
}

.formSignUp4 .wrapper .formHolder4 {
  width: 479px;
  margin: auto;
}
.formSignUp4 .wrapper .formHolder4 h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 19px;
  text-align: left;
}
.formSignUp4 .wrapper .formHolder4 .summaryBox {
  border: 1px solid #7f0046;
  border-radius: 6px;
  width: 310px;
  height: 60px;
  padding: 18px 22px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
.formSignUp4 .wrapper .formHolder4 .summaryBox h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.formSignUp4 .wrapper .formHolder4 .summaryBox h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #507be9;
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 .radio {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  margin-bottom: 9px;
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 .radio p {
  height: 31px;
  display: flex;
  align-items: center;
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 .radio p span {
  padding-left: 10px;
  background: radial-gradient(50% 50% at 50% 50%, #ffad39 0%, #ff7376 47.4%, #cb3541 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 12px;
  line-height: 17px;
  font-family: "heroNew";
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 .selectedRadio p {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: "heroNewBold";
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 .radio input[type=radio] {
  display: none;
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 .radio > span {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  border: 1px solid #7f0046;
  display: block;
  position: absolute;
  left: 0px;
  top: 2px;
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 .radio > span::after {
  content: "";
  height: 22px;
  width: 22px;
  background: #7f0046;
  display: block;
  position: absolute;
  left: 52%;
  top: 48%;
  transform: translate(-52%, -48%) scale(0);
  border-radius: 50%;
  transition: 250ms ease-in-out 0s;
}
.formSignUp4 .wrapper .formHolder4 .radio-group2 .radio input[type=radio]:checked ~ span:after {
  transform: translate(-52%, -48%) scale(1);
}
.formSignUp4 .wrapper .formHolder4 .grayLine {
  border-bottom: 1px solid #e3e3e3;
  width: 310px;
  margin-bottom: 36px;
}
.formSignUp4 .wrapper .formHolder4 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  font-family: "heroNewBold";
}
.formSignUp4 .wrapper .formHolder4 div:nth-child(7) {
  margin-top: 78px;
  margin-bottom: 59px;
}
.formSignUp4 .wrapper .formHolder4 div:nth-child(7) h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #507be9;
  margin-bottom: 7px;
}
.formSignUp4 .wrapper .formHolder4 div:nth-child(7) p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.formSignUp4 .wrapper .formHolder4 div:nth-child(7) p span {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #a6a6a6;
}
.formSignUp4 .wrapper .formHolder4 a {
  text-decoration: none;
  background: #507be9;
  border-radius: 6px;
  width: 310px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  transition: all 0.25s ease-in;
  border: 1px solid #507be9;
}
.formSignUp4 .wrapper .formHolder4 a:hover {
  color: #507be9;
  background-color: #fff;
}

.logoHolderSuccess {
  padding-top: 99px;
  text-align: center;
  margin-bottom: 103px;
}

.formSignUp5 .wrapper {
  text-align: center;
}
.formSignUp5 .wrapper .formHolder5 {
  width: 582px;
  margin: auto;
  display: flex;
}
.formSignUp5 .wrapper .formHolder5 img {
  margin-bottom: 101px;
  margin-right: 43px;
}
.formSignUp5 .wrapper .formHolder5 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-top: 46px;
  text-align: left;
}
.formSignUp5 .wrapper .formHolder5 h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.formSignUp5 .wrapper .formHolder5 h2 span {
  font-family: "heroNewBold";
  font-weight: 700;
}
.formSignUp5 .wrapper a {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #507be9;
}
.formSignUp5 .wrapper a:hover {
  opacity: 0.5;
}

.topDecDash {
  position: absolute;
  top: 6px;
  width: 272px;
  height: 9px;
  right: 0px;
  overflow: hidden;
  transform: translateY(-6px);
  background-image: url(../img/dashboardTopDecoration.png);
  background-repeat: no-repeat;
}

.leftDecDash {
  position: absolute;
  width: 9px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../img/dashboardLeftDecoration.png");
  background-repeat: repeat-y;
}

.wrapperDashboard {
  max-width: 1650px;
  margin: auto;
  display: flex;
}

.wrapperDashboardFooter {
  max-width: 1650px;
  margin: auto;
  display: flex;
}

.navbar {
  padding-top: 79px;
  width: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.navbar img {
  max-width: 145px;
}
.navbar .profile {
  display: none;
}
.navbar .formobile {
  position: absolute;
  top: 189px;
  left: 0px;
  width: 230px;
  min-height: 580px;
  border: 1px solid #7f0046;
  border-radius: 6px;
}
.navbar .formobile p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  padding: 22px 0px 5px 32px;
}
.navbar .formobile p span {
  display: none;
}
.navbar .formobile ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar .formobile ul li {
  display: block;
  border-bottom: 1px solid #efe8ec;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
}
.navbar .formobile ul li ul li a {
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 52px;
}
.navbar .formobile ul li .messages {
  position: absolute;
  right: 25px;
  top: 17px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #b7ffd4;
  padding: 5px 8px;
  margin-left: 50px;
}
.navbar .formobile ul li .messages p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #44945b;
  padding: 0px 0px 0px 0px;
}
.navbar .formobile ul li a {
  color: #000;
  text-decoration: none;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 32px;
}
.navbar .formobile ul li:last-child {
  border-bottom: none;
}
.navbar .formobile ul li:nth-child(7) {
  position: relative;
}

.boldDropdown a {
  font-weight: 700;
}

.activeNav a {
  font-weight: 700;
  font-family: "heroNewBold";
}
.activeNav .triangleForNav {
  display: block !important;
}

.open .activeNav .triangleForNav {
  top: 2px;
}

.triangleForNav {
  display: none !important;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%) !important;
          clip-path: polygon(50% 0, 100% 100%, 0 100%) !important;
  width: 10px !important;
  height: 10px !important;
  transform: rotate(270deg) !important;
  border-radius: unset !important;
  margin-left: unset !important;
  padding: unset !important;
  position: absolute;
  right: 0px;
  top: 25px;
}

.dropdown {
  position: relative;
}

.dropdown:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 26px;
  left: 75%;
  background: url("../img/dropdownPolygon.png") 0 0 no-repeat;
  transform: rotate(0deg);
  transition: all 0.25s ease-in;
}

.dropdown.boldDropdown:before {
  transform: rotate(90deg) !important;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease;
  background-color: transparent;
  min-width: 160px;
}
.dropdown-menu li {
  border-bottom: none !important;
  padding-bottom: 0px !important;
}
.dropdown-menu li a {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.dropdown.open .dropdown-menu {
  display: block;
}

#triangle {
  background-color: #000;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 10px;
  height: 10px;
  transform: rotate(180deg);
  margin-right: 12px;
  cursor: pointer;
}

.dashRightHolder {
  width: 100%;
}
.dashRightHolder .topRow {
  margin-bottom: 54px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 53px;
  align-items: center;
}
.dashRightHolder .topRow h1 {
  font-family: "heroNewBold";
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
}
.dashRightHolder .topRow div {
  display: flex;
  align-items: center;
}
.dashRightHolder .topRow div input {
  width: 583px;
  height: 59px;
  border: 0.7px solid #c5c5c5;
  border-radius: 6px;
  background-image: url("../img/loop.png");
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
  margin-right: 72px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 21px;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.profile a {
  text-decoration: none;
  color: #000;
}
.profile a h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  margin-right: 23px;
}
.profile a {
  border-radius: 50%;
}
.profile a div {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile a div img {
  width: 62px;
  height: 62px;
}

.middleRow {
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  -moz-column-gap: 48px;
       column-gap: 48px;
  padding-left: 42px;
}
.middleRow .activity .activityDesktop {
  padding: 24px 27px;
  border: 0.7px solid #e9c3c1;
  border-radius: 6px;
  width: 477px;
  height: 414px;
}
.middleRow .activity .activityDesktop h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 14px;
}
.middleRow .activity .activityDesktop div {
  margin-bottom: 28px;
}
.middleRow .activity .activityDesktop div p {
  color: #7c7c7c;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 4px;
}
.middleRow .activity .activityDesktop div h2 {
  font-size: 16px;
  font-weight: 400;
}
.middleRow .activity .activityDesktop div h2 span {
  font-family: "heroNewBold";
  font-weight: 700;
  margin-right: 4px;
}
.middleRow .dailyPerformance .dailyPerfDesktop {
  width: 477px;
  height: 414px;
  border: 0.7px solid #e9c3c1;
  border-radius: 6px;
}
.middleRow .dailyPerformance .dailyPerfDesktop div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  padding: 23px 28px 0px 31px;
}
.middleRow .dailyPerformance .dailyPerfDesktop div:nth-child(1) h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.middleRow .dailyPerformance .dailyPerfDesktop div:nth-child(1) img {
  cursor: pointer;
}
.middleRow .dailyPerformance .dailyPerfDesktop div {
  padding: 0px 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}
.middleRow .dailyPerformance .dailyPerfDesktop div h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  width: 45%;
}
.middleRow .dailyPerformance .dailyPerfDesktop div h4 span {
  font-family: "heroNewBold";
  font-weight: 700;
  font-size: 24px;
}
.middleRow .dailyPerformance .dailyPerfDesktop div:nth-child(3) {
  margin-bottom: 48px;
}
.middleRow .dailyPerformance .dailyPerfDesktop div:nth-child(4) {
  align-items: center;
  justify-content: space-around;
  border-top: 0.7px solid #e9c3c1;
  height: 121px;
  margin-bottom: 0px;
  padding: unset;
}
.middleRow .dailyPerformance .dailyPerfDesktop div:nth-child(4) h4 {
  padding-top: 4px;
  width: unset;
  text-align: center;
}
.middleRow .tipsandtricks .tipsDesktop {
  padding: 26px 17px 24px 27px;
  background: #f9faff;
  border: 0.7px solid #e9c3c1;
  border-radius: 6px;
  height: 414px;
  width: 312px;
}
.middleRow .tipsandtricks .tipsDesktop h3 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 40px;
}
.middleRow .tipsandtricks .tipsDesktop div {
  margin-bottom: 39px;
}
.middleRow .tipsandtricks .tipsDesktop div h4 {
  font-weight: 500;
  font-size: 16px;
  font-family: "heroNewBold";
  line-height: 23px;
  margin-bottom: 5px;
}
.middleRow .tipsandtricks .tipsDesktop div p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.middleRow .customerActivity .customerDesktop {
  width: 656px;
  height: 414px;
  border: 0.7px solid #e9c3c1;
  border-radius: 6px;
  padding: 24px 29px 24px 26px;
  margin-right: 2px;
}
.middleRow .customerActivity .customerDesktop div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}
.middleRow .customerActivity .customerDesktop div:nth-child(1) h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}
.middleRow .customerActivity .customerDesktop div:nth-child(1) img {
  cursor: pointer;
}
.middleRow .customerActivity .customerDesktop div {
  margin-bottom: 36px;
}
.middleRow .customerActivity .customerDesktop div p {
  font-weight: 400;
  font-size: 12px;
  color: #7c7c7c;
  line-height: 21px;
}
.middleRow .customerActivity .customerDesktop div h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 3px;
}
.middleRow .customerActivity .customerDesktop div h5 {
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  font-family: "heroNewBold";
}
.middleRow .addedAndViewed .addedDesktop {
  width: 656px;
  height: 414px;
  border: 0.7px solid #e9c3c1;
  border-radius: 6px;
  padding: 24px 38px;
  display: flex;
  justify-content: space-between;
}
.middleRow .addedAndViewed .addedDesktop .recentlyAdded h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 23px;
}
.middleRow .addedAndViewed .addedDesktop .recentlyAdded .addeditem {
  display: flex;
  max-width: 271px;
  margin-bottom: 22px;
}
.middleRow .addedAndViewed .addedDesktop .recentlyAdded .addeditem div:nth-child(1) {
  width: 62px !important;
  height: 62px;
  border: 0.354702px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middleRow .addedAndViewed .addedDesktop .recentlyAdded .addeditem div:nth-child(2) {
  max-width: 195px;
  padding-left: 14px;
  padding-top: 2px;
}
.middleRow .addedAndViewed .addedDesktop .recentlyAdded .addeditem div:nth-child(2) p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
}
.middleRow .addedAndViewed .addedDesktop .recentlyAdded .addeditem div:nth-child(2) h4 {
  font-weight: 700;
  font-size: 12px;
  font-family: "heroNewBold";
}
.middleRow .addedAndViewed .addedDesktop .mostViewed {
  max-width: 264px;
}
.middleRow .addedAndViewed .addedDesktop .mostViewed h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 23px;
}
.middleRow .addedAndViewed .addedDesktop .mostViewed .vieweditem {
  display: flex;
  width: 265px;
  margin-bottom: 22px;
}
.middleRow .addedAndViewed .addedDesktop .mostViewed .vieweditem div:nth-child(1) {
  width: 62px !important;
  height: 62px;
  border: 0.354702px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middleRow .addedAndViewed .addedDesktop .mostViewed .vieweditem div:nth-child(2) {
  max-width: 195px;
  padding-left: 12px;
  padding-top: 2px;
}
.middleRow .addedAndViewed .addedDesktop .mostViewed .vieweditem div:nth-child(2) p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
}
.middleRow .addedAndViewed .addedDesktop .mostViewed .vieweditem div:nth-child(2) h4 {
  font-weight: 700;
  font-size: 12px;
  font-family: "heroNewBold";
}

.wrapperDashboardFooter {
  justify-content: space-between;
  padding-top: 136px;
  padding-bottom: 32px;
}
.wrapperDashboardFooter div:nth-child(1) {
  width: 265px;
}
.wrapperDashboardFooter div:nth-child(1) p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.wrapperDashboardFooter div:nth-child(1) p span {
  font-weight: 700;
  font-family: "heroNewBold";
}
.wrapperDashboardFooter div:nth-child(2) a {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  line-height: 17px;
  margin-right: 36px;
}
.wrapperDashboardFooter div:nth-child(2) a:last-child {
  margin-right: 6px;
}

.middleRow .activity .activityMobile {
  display: none;
}

.middleRow .dailyPerformance .dailyPrefMobile {
  display: none;
}

.middleRow .tipsandtricks .tipsMobile {
  display: none;
}

.middleRow .customerActivity .customerMobile {
  display: none;
}

.middleRow .addedAndViewed .addedMobile {
  display: none;
}

.card {
  min-width: 510px;
  border: 0.7px solid #e9c3c1;
  border-radius: 6px;
  padding: 15px 0px;
}

.cardTitle {
  position: relative;
}
.cardTitle h3 {
  font-weight: 400;
  font-size: 14px;
  padding-left: 25px;
}
.cardTitle .triangle_icon {
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
  position: absolute;
  right: 25px;
  top: 7px;
  z-index: 999;
}

.content_opened .cardTitle .triangle_icon {
  transform: rotate(180deg);
}
.content_opened .contentShow {
  max-height: 600px;
}

.contentShow {
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease;
}

.inside {
  padding-top: 26px;
  padding-bottom: 6px;
}
.inside .activeMobContent {
  padding: 0px 25px;
}
.inside .activeMobContent div {
  margin-bottom: 28px;
}
.inside .activeMobContent div p {
  color: #7c7c7c;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 4px;
}
.inside .activeMobContent div h2 {
  font-size: 16px;
  font-weight: 400;
}
.inside .activeMobContent div h2 span {
  font-family: "heroNewBold";
  font-weight: 700;
  margin-right: 4px;
}
.inside .dailyMobContent {
  padding-top: 26px;
}
.inside .dailyMobContent div {
  padding: 0px 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}
.inside .dailyMobContent div h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  width: 45%;
}
.inside .dailyMobContent div h4 span {
  font-family: "heroNewBold";
  font-weight: 700;
  font-size: 24px;
}
.inside .dailyMobContent div:nth-child(2) {
  margin-bottom: 48px;
}
.inside .dailyMobContent div:nth-child(3) {
  align-items: center;
  justify-content: space-around;
  border-top: 0.7px solid #e9c3c1;
  height: 121px;
  margin-bottom: 0px;
  padding: unset;
}
.inside .dailyMobContent div:nth-child(3) h4 {
  padding-top: 4px;
  width: unset;
  text-align: center;
}
.inside .tipsMobContent {
  padding: 0px 25px;
  padding-top: 26px;
}
.inside .tipsMobContent div {
  margin-bottom: 39px;
}
.inside .tipsMobContent div h4 {
  font-weight: 500;
  font-size: 16px;
  font-family: "heroNewBold";
  line-height: 23px;
  margin-bottom: 5px;
}
.inside .tipsMobContent div p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.inside .customerMobContent {
  padding: 0px 25px;
}
.inside .customerMobContent div {
  margin-bottom: 36px;
}
.inside .customerMobContent div p {
  font-weight: 400;
  font-size: 12px;
  color: #7c7c7c;
  line-height: 21px;
}
.inside .customerMobContent div h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 3px;
}
.inside .customerMobContent div h5 {
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  font-family: "heroNewBold";
}
.inside .addedMobContent {
  display: flex;
  justify-content: space-evenly;
}
.inside .addedMobContent .recentlyAddedMob h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 23px;
}
.inside .addedMobContent .recentlyAddedMob .addeditem {
  display: flex;
  max-width: 271px;
  margin-bottom: 22px;
}
.inside .addedMobContent .recentlyAddedMob .addeditem div:nth-child(1) {
  width: 62px !important;
  height: 62px;
  border: 0.354702px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside .addedMobContent .recentlyAddedMob .addeditem div:nth-child(2) {
  max-width: 195px;
  padding-left: 14px;
  padding-top: 2px;
}
.inside .addedMobContent .recentlyAddedMob .addeditem div:nth-child(2) p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
}
.inside .addedMobContent .recentlyAddedMob .addeditem div:nth-child(2) h4 {
  font-weight: 700;
  font-size: 12px;
  font-family: "heroNewBold";
}
.inside .addedMobContent .mostViewedMob {
  max-width: 264px;
}
.inside .addedMobContent .mostViewedMob h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 23px;
}
.inside .addedMobContent .mostViewedMob .vieweditem {
  display: flex;
  width: 265px;
  margin-bottom: 22px;
}
.inside .addedMobContent .mostViewedMob .vieweditem div:nth-child(1) {
  width: 62px !important;
  height: 62px;
  border: 0.354702px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside .addedMobContent .mostViewedMob .vieweditem div:nth-child(2) {
  max-width: 195px;
  padding-left: 12px;
  padding-top: 2px;
}
.inside .addedMobContent .mostViewedMob .vieweditem div:nth-child(2) p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
}
.inside .addedMobContent .mostViewedMob .vieweditem div:nth-child(2) h4 {
  font-weight: 700;
  font-size: 12px;
  font-family: "heroNewBold";
}

@media (max-width: 1750px) {
  .wrapperDashboard {
    width: 1400px;
  }
  .wrapperDashboardFooter {
    width: 1400px;
  }
}
@media (max-width: 1480px) {
  .boxes .wrapper .boxHolder {
    max-width: 938px;
    margin: auto;
  }
  .boxes .wrapper .boxHolder .box {
    width: 264px;
  }
  #packagesFix {
    transform: translateX(-100px);
    background-repeat: repeat;
  }
  .wrapperDashboard {
    width: 1270px;
  }
  .wrapperDashboardFooter {
    width: 1270px;
  }
  .middleRow {
    row-gap: 29px;
    -moz-column-gap: 48px;
    column-gap: 23px;
  }
}
@media (max-width: 1300px) {
  .wrapperDashboard {
    width: 1070px;
  }
  .wrapperDashboardFooter {
    width: 1070px;
  }
  .middleRow {
    row-gap: 29px;
    -moz-column-gap: 48px;
    column-gap: 10px;
    padding-left: 30px;
  }
  .dashRightHolder .topRow div input {
    width: 350px;
  }
  .dashRightHolder .topRow {
    padding-left: 42px;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop div h4 {
    width: 39%;
  }
  .middleRow .activity .activityDesktop {
    width: 398px;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop {
    width: 410px;
  }
  .middleRow .activity .activityDesktop div {
    margin-bottom: 20px;
  }
  .middleRow .customerActivity .customerDesktop {
    width: 494px;
  }
}
@media screen and (max-width: 1100px) {
  .wrapper {
    max-width: 768px;
  }
  .boxes .wrapper .boxHolder {
    flex-wrap: wrap;
  }
  .wrapperDashboard {
    width: 880px;
  }
  .wrapperDashboardFooter {
    width: 880px;
  }
  .dashRightHolder .topRow div input {
    width: 250px;
  }
  .navbar .formobile {
    width: 190px;
  }
  .navbar .formobile ul li {
    font-size: 18px;
  }
  .navbar .formobile ul li a {
    padding-left: 18px;
  }
  .navbar .formobile ul li div {
    margin-left: 24px;
  }
  .navbar {
    width: 25%;
  }
  .dropdown-menu li a {
    font-size: 16px;
  }
  .middleRow .activity .activityDesktop div h2 {
    font-size: 14px;
  }
  .middleRow .activity .activityDesktop {
    padding: 18px 18px;
  }
  .middleRow .activity .activityDesktop {
    max-width: 330px;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop div:nth-child(1) {
    margin-bottom: 27px;
    padding: 18px 18px 0px 18px;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop div {
    padding: 0px 18px;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop div h4 {
    font-size: 14px;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop div h4 span {
    font-size: 19px;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop {
    width: 334px;
  }
  .middleRow .activity .activityDesktop {
    height: unset;
    max-height: 385px;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop {
    height: 385px;
  }
  .middleRow .tipsandtricks .tipsDesktop div h4 {
    font-size: 14px;
  }
  .middleRow .tipsandtricks .tipsDesktop {
    padding: 18px 17px 18px 18px;
    width: 274px;
  }
  .middleRow .customerActivity .customerDesktop {
    padding: 15px 18px 18px 18px;
    width: 388px;
  }
  .middleRow .customerActivity .customerDesktop div h4 {
    font-size: 14px;
  }
  .middleRow .customerActivity .customerDesktop div {
    margin-bottom: 28px;
  }
  .profile a h2 {
    font-size: 17px;
  }
}
@media screen and (max-width: 1024px) {
  .leftDecoration {
    transform: translateX(-100px);
  }
  .formSignUp3 .wrapper .formSignUp3Box .sliderHolder {
    display: flex;
    gap: 14px;
  }
  .formSignUp3 .wrapper .formSignUp3Box {
    width: 520px;
  }
}
@media screen and (max-width: 992px) {
  .formSignUp5 .wrapper .formHolder5 {
    width: 556px;
  }
}
@media screen and (max-width: 930px) {
  .middleRow .activity .activityDesktop {
    display: none;
  }
  .middleRow .dailyPerformance .dailyPerfDesktop {
    display: none;
  }
  .middleRow .tipsandtricks .tipsDesktop {
    display: none;
  }
  .middleRow .customerActivity .customerDesktop {
    display: none;
  }
  .middleRow .addedAndViewed .addedDesktop {
    display: none;
  }
  .middleRow .activity .activityMobile {
    display: block;
  }
  .middleRow .dailyPerformance .dailyPrefMobile {
    display: block;
  }
  .middleRow .tipsandtricks .tipsMobile {
    display: block;
  }
  .middleRow .customerActivity .customerMobile {
    display: block;
  }
  .middleRow .addedAndViewed .addedMobile {
    display: block;
  }
  .wrapperDashboard {
    width: 740px;
  }
  .wrapperDashboardFooter {
    width: 740px;
  }
  .profile a div img {
    width: 39px;
    height: 39px;
  }
  .profile a div {
    width: 49px;
    height: 49px;
  }
  .profile a div {
    margin-right: 0px;
  }
  .profile a h2 {
    font-size: 18px;
    margin-right: 9px;
  }
  .dashRightHolder .topRow div input {
    display: none;
  }
  .navbar {
    width: 25%;
  }
  .leftDecDash {
    height: auto;
  }
  .dashRightHolder {
    width: 73%;
  }
  .leftDecDash {
    top: -196px;
  }
  .navbar .formobile {
    top: 165px;
  }
  .dashRightHolder .topRow {
    padding-left: 100px;
  }
  .navbar .formobile ul li {
    font-size: 16px;
  }
  .inside .addedMobContent .mostViewedMob {
    max-width: 240px;
  }
  .triangleForNav {
    top: 21px;
  }
}
@media screen and (max-width: 768px) {
  #packagesFix {
    transform: translateX(-215px);
    background-repeat: repeat;
    height: 230vh;
  }
  .logoHolderPackage {
    padding-top: 71px;
    margin-bottom: 62px;
  }
  .leftDecoration {
    transform: translateX(-175px);
  }
  .topDec {
    overflow: hidden;
  }
  .topDec .topDecoration {
    transform: translate(110px, -23px);
  }
  .wrapper {
    max-width: 530px;
  }
  .formSignUp1 .wrapper .formHolder1 {
    width: 380px;
  }
  .formSignUp1 .wrapper .formHolder1 input[type=text] {
    width: 380px;
  }
  .formSignUp1 .wrapper .formHolder1 label {
    display: block;
  }
  .formSignUp1 .wrapper .formHolder1 select {
    width: 380px;
  }
  .progressBars .wrapper .progressHolder {
    width: 380px;
  }
  .formSignUp2 .wrapper .formHolder2 input[type=text] {
    width: 380px;
  }
  .formSignUp2 .wrapper .formHolder2 label {
    display: block;
  }
  .formSignUp2 .wrapper .formHolder2 input[type=email] {
    width: 380px;
  }
  .formSignUp2 .wrapper .formHolder2 .passwordBox input[type=password] {
    width: 380px;
  }
  .formSignUp2 .wrapper .formHolder2 .passwordBox {
    max-width: 380px;
  }
  .formSignUp2 .wrapper {
    max-width: 415px;
  }
  .formSignUp2 .wrapper .formHolder2 {
    width: 380px;
  }
  .formSignUp4 .wrapper .formHolder4 {
    width: 315px;
  }
  .logoHolder4 {
    padding-top: 71px;
    margin-bottom: 62px;
  }
  .logoHolderSuccess {
    padding-top: 71px;
    text-align: center;
    margin-bottom: 65px;
  }
  .formSignUp5 .wrapper .formHolder5 {
    flex-direction: column;
  }
  .formSignUp5 .wrapper .formHolder5 {
    width: 320px;
  }
  .formSignUp5 .wrapper .formHolder5 img {
    margin: auto;
    width: 235px;
  }
  .formSignUp5 .wrapper .formHolder5 p {
    padding-top: 77px;
  }
  .formSignUp5 .wrapper .formHolder5 h2 {
    padding-top: 7px;
    margin-bottom: 71px;
  }
  .dashRightHolder .topRow {
    padding-left: 0px;
    padding-top: 39px;
    justify-content: center;
  }
  .dashRightHolder .topRow div {
    display: none;
  }
  .navbar {
    flex-direction: row;
    width: 176px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .navbar .profile {
    display: flex;
  }
  .navbar.active .formobile {
    left: 0px;
    transition: 0.6s;
  }
  .navbar.active .lines .line:first-child {
    transform: rotate(40deg);
    transition: 0.3s;
  }
  .navbar.active .lines .line:nth-child(2) {
    transform: rotate(-40deg);
    margin-top: -5px;
    transition: 0.3s;
  }
  .navbar.active .lines .line:nth-child(3) {
    transform: rotate(-40deg);
    margin-top: -4px;
    transition: 0.3s;
  }
  .lines .line {
    width: 45px;
    height: 4px;
    background-color: #454545;
    margin-top: 5px;
    transition: 0.3s;
    border-radius: 7px;
  }
  .lines .line:nth-child(2) {
    width: 39px;
    margin: auto;
    margin-top: 5px;
  }
  .navbar .formobile {
    z-index: 5;
    top: 0px;
    bottom: 0;
    transform: unset;
    right: unset;
    position: fixed;
    width: 254px;
    left: -1000px;
    display: inline-block;
    background-color: #fff;
    padding-top: 40px;
    transition: 0.3s;
  }
  .navbar .formobile ul {
    margin: 0;
  }
  .navbar .formobile ul li {
    display: block;
  }
  .navbar .formobile p {
    padding: 0px 0px 0px 32px;
  }
  .navbar .formobile p span {
    display: inline-block;
  }
  .navbar .formobile ul li a {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .navbar .formobile ul li div {
    margin-left: 91px;
  }
  .dropdown:before {
    top: 17px;
    left: 65%;
  }
  .dashRightHolder {
    width: 100%;
  }
  .wrapperDashboard {
    width: 540px;
    justify-content: center;
    flex-direction: column;
  }
  .wrapperDashboardFooter {
    width: 540px;
    position: relative;
    z-index: -1;
    flex-direction: column;
  }
  .wrapperDashboardFooter div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .card {
    min-width: 540px;
    background: #fff;
  }
  .middleRow {
    padding-left: 0px;
  }
  .navbar .formobile ul li .messages {
    top: 9px;
  }
  .triangleForNav {
    top: 16px;
  }
}
@media screen and (max-width: 650px) {
  .sliderBox .sliderContent {
    margin-right: 40px;
  }
  .sliderBox .sliderContent img {
    margin: auto;
  }
  .logoHolder3 {
    padding-top: 71px;
    text-align: center;
    margin-bottom: 62px;
  }
  .formSignUp3 {
    position: relative;
    overflow: hidden;
  }
  .formSignUp3 .wrapper .formSignUp3Box .sliderHolder {
    width: 100%;
    position: absolute;
  }
  .formSignUp3 .wrapper .formSignUp3Box .sliderHolder .sliderBox .sliderContent {
    width: 170px !important;
  }
  .formSignUp3 .wrapper .formSignUp3Box .sliderHolder .sliderBox .sliderContent:hover {
    transform: scale(1);
  }
  .formSignUp3 .wrapper .formSignUp3Box .sliderHolder .selectedSlider {
    box-shadow: inset 0px 2px 5px 5px rgba(127, 0, 70, 0.75);
    -webkit-box-shadow: inset 0px 2px 5px 5px rgba(127, 0, 70, 0.75);
    -moz-box-shadow: inset 0px 2px 5px 5px rgba(127, 0, 70, 0.75);
  }
  .formSignUp3 .wrapper .formSignUp3Box h3 {
    padding-top: 200px;
  }
  .formSignUp3 .wrapper .formSignUp3Box {
    width: 380px;
  }
  .topDecDash {
    width: 180px;
  }
}
@media screen and (max-width: 610px) {
  .wrapperDashboard {
    width: 380px;
  }
  .wrapperDashboardFooter {
    width: 380px;
  }
  .card {
    min-width: 380px;
  }
  .inside .addedMobContent {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .inside .addedMobContent .mostViewedMob {
    max-width: 257px;
  }
  .inside .activeMobContent div h2 {
    font-size: 14px;
  }
  .inside .activeMobContent div {
    margin-bottom: 20px;
  }
  .inside .dailyMobContent div h4 {
    font-size: 14px;
  }
  .inside .dailyMobContent div h4 span {
    font-size: 16px;
  }
  .inside .dailyMobContent div:nth-child(3) {
    height: 70px;
  }
  .inside .dailyMobContent div:nth-child(2) {
    margin-bottom: 12px;
  }
  .inside .dailyMobContent div {
    margin-bottom: 23px;
  }
  .inside .tipsMobContent {
    padding-top: 0px;
  }
  .inside .tipsMobContent div {
    margin-bottom: 23px;
  }
  .inside .tipsMobContent div:last-child {
    margin-bottom: 0px;
  }
  .inside .tipsMobContent div h4 {
    font-size: 14px;
  }
  .inside .customerMobContent div h4 {
    font-size: 14px;
    line-height: 19px;
  }
  .inside .customerMobContent div {
    margin-bottom: 16px;
  }
  .inside .customerMobContent div:last-child {
    margin-bottom: 0px;
  }
  .wrapperDashboardFooter div:nth-child(2) {
    justify-content: space-between;
  }
  .wrapperDashboardFooter div:nth-child(2) a {
    margin-right: 0px;
  }
  .navbar img {
    max-width: 95px;
  }
  .profile a h2 {
    display: none;
  }
  .wrapperDashboardFooter div:nth-child(2) a {
    width: 48%;
    margin-bottom: 9px;
  }
  .wrapperDashboardFooter div:nth-child(2) {
    justify-content: left;
  }
}
@media screen and (max-width: 530px) {
  .leftDecoration {
    display: none;
  }
  .progressBars .wrapper a {
    margin-bottom: 80px;
    font-size: 18px;
  }
  .topDec .topDecoration {
    transform: translate(150px, -23px);
  }
  .logoHolder1 {
    padding-top: 71px;
    margin-bottom: 60px;
  }
  .wrapper {
    max-width: 350px;
  }
  .formSignUp1 .wrapper .formHolder1 {
    width: 310px;
  }
  .formSignUp1 .wrapper .formHolder1 input[type=text] {
    width: 310px;
    margin-bottom: 29px;
  }
  .formSignUp1 .wrapper .formHolder1 select {
    width: 310px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .progressBars .wrapper .progressHolder {
    width: 310px;
  }
  .formSignUp1 .wrapper .formHolder1 label {
    font-size: 18px;
    line-height: 22px;
  }
  .formSignUp1 .wrapper .formHolder1 h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .formSignUp1 .wrapper .formHolder1 .radio-group .radio p {
    font-size: 18px;
  }
  .formSignUp2 .wrapper .formHolder2 input[type=text] {
    width: 310px;
  }
  .formSignUp2 .wrapper .formHolder2 input[type=email] {
    width: 310px;
  }
  .formSignUp2 .wrapper .formHolder2 .passwordBox input[type=password] {
    width: 310px;
  }
  .formSignUp2 .wrapper .formHolder2 .passwordBox {
    max-width: 310px;
  }
  .formSignUp2 .wrapper {
    max-width: 350px;
  }
  .formSignUp2 .wrapper .formHolder2 {
    width: 310px;
  }
  .formSignUp2 .wrapper .formHolder2 label {
    font-size: 18px;
    line-height: 24px;
  }
  .formSignUp2 .wrapper .formHolder2 h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .logoHolder2 {
    padding-top: 71px;
  }
  .formSignUp3 .wrapper .formSignUp3Box {
    width: 300px;
  }
  .formSignUp3 .wrapper .formSignUp3Box h2 {
    font-size: 18px;
    line-height: 26px;
  }
  .formSignUp3 .wrapper .formSignUp3Box h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .formSignUp4 .wrapper .formHolder4 h2 {
    font-size: 18px;
    line-height: 26px;
  }
  .formSignUp4 .wrapper .formHolder4 h3 {
    font-size: 18px;
  }
  .formSignUp4 .wrapper .formHolder4 div:nth-child(7) h2 {
    font-size: 18px;
    line-height: 26px;
  }
  .formSignUp4 .wrapper .formHolder4 div:nth-child(7) p {
    font-size: 14px;
  }
  .formSignUp4 .wrapper .formHolder4 div:nth-child(7) p span {
    font-size: 14px;
  }
  .formSignUp4 .wrapper .formHolder4 a {
    margin-bottom: 50px;
  }
  .formSignUp5 .wrapper .formHolder5 {
    width: 290px;
  }
  .formSignUp5 .wrapper {
    padding-bottom: 170px;
  }
  .topDecDash {
    width: 120px;
  }
}
@media screen and (max-width: 425px) {
  .wrapperDashboard {
    width: 280px;
  }
  .wrapperDashboardFooter {
    width: 280px;
  }
  .card {
    min-width: 280px;
  }
  .inside .dailyMobContent {
    padding-top: 0px;
  }
  .inside .dailyMobContent div {
    flex-direction: column;
    align-items: start;
  }
  .inside .dailyMobContent div:nth-child(3) {
    flex-direction: row;
  }
  .inside .dailyMobContent div h4 span {
    font-size: 24px;
  }
  .inside .dailyMobContent div h4 {
    font-size: 16px;
    width: 100%;
  }
  .middleRow {
    row-gap: 15px;
  }
  .cardTitle h3 {
    padding-left: 17px;
  }
  .cardTitle .triangle_icon {
    right: 17px;
  }
  .topDecDash .topDecoration {
    transform: translate(167px, -6px);
  }
  .navbar .formobile {
    width: 194px;
  }
}
@media screen and (max-width: 350px) {
  .wrapper {
    max-width: 310px;
  }
  .boxes {
    margin-bottom: 70px;
  }
  .formSignUp1 .wrapper .formHolder1 {
    width: 270px;
  }
  .formSignUp1 .wrapper .formHolder1 input[type=text] {
    width: 270px;
    height: 45px;
    margin-bottom: 29px;
  }
  .formSignUp1 .wrapper .formHolder1 select {
    width: 270px;
    padding-left: 20px;
    height: 45px;
    font-size: 15px;
    line-height: 20px;
  }
  .progressBars .wrapper .progressHolder {
    width: 270px;
  }
  .formSignUp1 .wrapper .formHolder1 label {
    font-size: 15px;
    line-height: 20px;
  }
  .formSignUp1 .wrapper .formHolder1 h2 {
    font-size: 15px;
    line-height: 20px;
  }
  .formSignUp1 .wrapper .formHolder1 .radio-group .radio p {
    font-size: 15px;
  }
  .formSignUp2 .wrapper .formHolder2 input[type=text] {
    width: 270px;
    height: 45px;
  }
  .formSignUp2 .wrapper .formHolder2 input[type=email] {
    width: 270px;
    height: 45px;
  }
  .formSignUp2 .wrapper .formHolder2 .passwordBox input[type=password] {
    width: 270px;
    height: 45px;
  }
  .formSignUp2 .wrapper .formHolder2 .passwordBox {
    max-width: 270px;
  }
  .formSignUp2 .wrapper {
    max-width: 310px;
  }
  .formSignUp2 .wrapper .formHolder2 {
    width: 270px;
  }
  .formSignUp2 .wrapper .formHolder2 label {
    font-size: 15px;
    line-height: 20px;
  }
  .formSignUp2 .wrapper .formHolder2 h2 {
    font-size: 15px;
    line-height: 20px;
  }
  .formSignUp2 .wrapper .formHolder2 .passwordBox img {
    top: 25px;
    right: 9px;
  }
  .formSignUp3 .wrapper .formSignUp3Box {
    width: 270px;
  }
  .formSignUp3 .wrapper .formSignUp3Box h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .formSignUp3 .wrapper .formSignUp3Box h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .formSignUp3 .wrapper .formSignUp3Box .containerBox2 .checkbox2 label p {
    font-size: 14px;
  }
  .formSignUp3 .wrapper .formSignUp3Box input[type=text] {
    width: 270px;
    height: 45px;
    padding-left: 10px;
  }
  .formSignUp4 .wrapper .formHolder4 {
    width: 270px;
  }
  .formSignUp4 .wrapper .formHolder4 h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .formSignUp4 .wrapper .formHolder4 .summaryBox {
    border: 1px solid #7f0046;
    border-radius: 6px;
    width: 270px;
    height: 45px;
    padding: 12px 10px;
  }
  .formSignUp4 .wrapper .formHolder4 .summaryBox h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .formSignUp4 .wrapper .formHolder4 .summaryBox h5 {
    font-size: 14px;
    line-height: 20px;
  }
  .formSignUp4 .wrapper .formHolder4 .radio-group2 .radio p {
    font-size: 14px;
    line-height: 20px;
  }
  .formSignUp4 .wrapper .formHolder4 .grayLine {
    width: 270px;
  }
  .formSignUp4 .wrapper .formHolder4 h3 {
    font-size: 16px;
  }
  .formSignUp4 .wrapper .formHolder4 h2 {
    font-size: 16px;
  }
  .formSignUp4 .wrapper .formHolder4 div:nth-child(7) h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .formSignUp4 .wrapper .formHolder4 a {
    width: 270px;
    height: 45px;
    font-size: 18px;
  }
  .formSignUp5 .wrapper .formHolder5 {
    width: 270px;
  }
  .formSignUp5 .wrapper .formHolder5 h2 {
    font-size: 35px;
  }
}/*# sourceMappingURL=style.css.map */